body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
    overflow: auto;
    font-family: 'Netflix Sans', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #445566;
    width: 1000px;
    position: relative;
}

header h1 {
    color: white;
    font-size: 28px;
    margin: 0;
    padding: 20px; 
}

/* Conteneur pour les paragraphes */
.header-paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Style pour les paragraphes de l'en-tête */
header p {
    color: white;
    margin: -10px 0;
    cursor: pointer;
    padding: 10px; 
}

#best-movie {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#best-movie-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#best-movie-poster {
    width: 400px;
    height: 600px;
    cursor: pointer;
}

.best-movie-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#best-movie-title {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#best-movie-summary {
    font-size: 16px;
    margin: 10px 20px;
    text-align: justify;
}

#best-movie-button {
    width: 20%;
    margin-left: 80%;
    background-color: #445566;

}

.carrousel{
    width: 1000px;
    border: 0.1px #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    scroll-snap-type: mandatory;
    margin : 10px 25px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}



.photo{
    width: 200px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
}

/* Ajouter une marge de 100px à droite de chaque photo */
.photo:not(:last-child) {
    margin-right: 25px;
    margin-left: 25px;
}

.container{
    display: flex;
}

.title {
    color: white; 
    text-align: center; 
    margin-top: 10px;
    font-size: 20px;
}

.buttonr{
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
    transform: rotate(0deg);
    transition:all 0.3s ease;
    position: absolute; 
    top: 45%; 
    right: -5px;
    z-index: 1; 
}


.buttonl{
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
    transform: rotate(180deg);
    transition:all 0.3s ease;
    position: absolute; 
    top: 45%;
    left: -5px;
    z-index: 1; 
}

.buttonl:hover{
    transform: rotate(180deg) scale(1.1);
    opacity:1;
    transition:all 0.3s ease;
}
.buttonr:hover{
    transform: rotate(0deg) scale(1.1);
    opacity:1;
    transition: 0.3s ease;
}

/* Styles fenêtre modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 100;
    text-align: center;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 1000px) {
    /* À partir de 1000 pixels de largeur d'écran, divisez par 1,5 */
    .carrousel {
        width: 666.7px; /* 1000px / 1.5 = 666.67px */
        margin: 50px;
    }

    .photo {
        max-width: 133.33px; /* 200px / 1.5 = 133.33px */
        height: 200px;
    }

    .photo:not(:last-child) {
        margin-right: 16.67px; /* 25px / 1.5 = 16.67px */
        margin-left: 16.67px; /* 25px / 1.5 = 16.67px */
    }

    .buttonr, .buttonl {
        max-width: 23.33px; /* 35px / 1.5 = 23.33px */
    }

    .title {
    margin-top: 5px;
    font-size: 10px;
    }

    h2 {
    margin-top: 5px;
    font-size: 15px;
    }

    #best-movie {
    width: 500px;
    }

    #best-movie-details {
        margin-top: 8px;
    }

    #best-movie-poster {
        width: 200px;
        height: 300px;
    }

    #best-movie-title {
    font-size: 15px;
    }

    header {
    width: 666.7px;
    position: relative;
    }

    header h1 {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px; 
    }

    header p {
    margin: -10px 0;
    padding: 10px;
    font-size: 10px;
    }
}

@media (max-width: 700px) {
    /* À partir de 1000 pixels de largeur d'écran, divisez par 1,5 */
    .carrousel {
        width: 333.7px; /* 1000px / 1.5 = 666.67px */
        margin: 25px;
    }

    .photo {
        max-width: 66.7px; /* 200px / 1.5 = 133.33px */
        height: 100px;
    }

    .photo:not(:last-child) {
        margin-right: 8.33px; /* 25px / 1.5 = 16.67px */
        margin-left: 8.33px; /* 25px / 1.5 = 16.67px */
    }

    .buttonr, .buttonl {
        max-width: 11.667px; /* 35px / 1.5 = 23.33px */
    }

    .title {
    margin-top: 3px;
    font-size: 7px;
    }

    h2 {
    margin-top: 3px;
    font-size: 10px;
    }

    #best-movie {
    width: 250px;
    }

    #best-movie-details {
        margin-top: 5px;
    }

    #best-movie-poster {
        width: 100px;
        height: 150px;
    }

    #best-movie-title {
    font-size: 10px;
    }

     header {
    width: 333.7px;
    position: relative;
    }

    header h1 {
    color: white;
    font-size: 8px;
    padding: 7px; 
    }

    header p {
    margin: -10px 0;
    padding: 10px;
    font-size: 6px;
    }
}